/* Custom styles */
body {
  margin: 0;
  font-family: sans-serif; /* You can specify your desired font here */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1F2937; /* This is the Tailwind gray-900 color */
}

/* Code styling */
code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace; /* Specify your desired monospace font */
}




